<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Practice</title>
    <script src="https://unpkg.com/vue@3.2.47/dist/vue.global.js"></script>
    
<body>
    
    <div id="app">
        <input type="text" v-bind:placeholder="message" />
        <hr>
        <button v-on:click="reverseMessage">click</button>
        <hr>
        <input type="text" v-bind:value="username" />
        <hr>
        <p v-if="visible">보이나요?</p>
        <button type="button" v-on:click="visible = true">visible</button>
        <hr>
        <ul>
        <li v-for="todo in todos">{{ todo }}</li>
        </ul>
    </div>

    <script>
        const app = Vue.createApp({
            data(){
                return {
                    message : "값을 입력해주세요!",
                    username: "janet",
                    visible: false,
                    
                };
            },
            methods: {
                hello(){
                alert("Hello World!");  
                },
                reverseMessage(){
                    this.message = this.message.split("").reverse().join("");
                },
            },
        });
        app.mount("#app");
    </script>

</body>
</html>
